<!-- public/partials/foto.html -->

<div class="page-header text-center">
    <h1>TITULO DA FOTO AQUI</h1>
</div>

<form name="formulario" class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input name="titulo" class="form-control">    
        </div>
        <div class="form-group">
            <label>URL</label>
            <input name="url" class="form-control">
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea name="descricao" class="form-control">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
         <a href="/" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto></minha-foto>
    </div>
</form>